/*prevent the body from overflowing. This ensures that our parent grid container will retain full control of the entire browser viewport. There should be nothing outside of our parent*/
* {
  text-decoration: none;
}
body {
  margin: auto 0;
  overflow: hidden;
  display: grid;
  width: 100%;
  background-color: rgb(152, 172, 170);
  font-family: Helvetica, sans-serif;
}
/*grid container will take up all the viewport*/
.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto;
}
.header-wrap {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 53px;
  margin: -0px 0px 0px 0px;
  background-color: rgb(66, 68, 71);
}
.headerleft {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-items: start;
  padding: 0px 0px 0px 30px;
}
.headerleft > a > img {
  width: 60px;
  height: 50px;
  border-radius: 6px;
}
#headerright {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  justify-items: end;
  list-style: none;
  font-size: 17.2px;
  width: 80%;
}
.nav-list > a {
  color: rgb(68, 230, 76);
  margin: 0px 8px 0px 0px;
}
.content {
  display: grid;
  grid-template-columns: auto;
  /*hide any overflow to ensure that nothing leaks outside of the 
	.content element that would disturb the parent’s layout.*/
  overflow: hidden;
  overflow-y: scroll;
  width: 100vw;
  font-size: 21px;
}
#welcome {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
}
#welcome > h2 {
  font-size: 26px;
}
#welcome > p {
  font-size: 21px;
}
#projects {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-items: center;
  width: 100%;
}
#project-heading {
  font-size: 23px;
  text-align: center;
  display: grid;
  width: 80%;
}
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 20px;
  width: 97%;
  padding-bottom: 15px;
}
.specific-project {
  display: grid;
  justify-items: center;
  border: 0.15rem solid lightgray;
  padding: 20px 0px 0px 0px;
}
.specific-project > img {
  width: 340px;
  height: 300px;
  border-radius: 2px;
}
.counImg{
  width: 200px;
  height: 200px;
  width:50%;
}
.specific-project:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 10px,
    inset rgba(0, 0, 0, 0.15) 0px 10px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 10px,
    inset rgba(0, 0, 0, 0.15) 0px 10px 10px;
  -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 10px,
    inset rgba(0, 0, 0, 0.15) 0px 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 10px,
    inset rgba(0, 0, 0, 0.15) 0px 10px 10px;
}
.about {
  display: grid;
  justify-items: center;
  text-align: center;
  margin-top: -20px;
  padding: 0px 30px 0px 30px;
}
.about > img {
  object-fit: contain;
  margin-top: 40px;
  /* width: 290px;
  height: 290px; */
  width: 200px;
  height: 300px;
  border-radius: 7px;
}
.about > p {
  font-size: 16px;
  width: 95%;
}
.form {
  display: grid;
  justify-content: center;
  margin: 0px 0px 75px 0px;
}
.singlebox {
  display: grid;
}
.singlebox > input,
textarea {
  border-radius: 3px;
  outline: none;
  margin-bottom: 9px;
}
.submitcontactbutton {
  display: grid;
  height: 30px;
  border-radius: 9px;
  font-size: 20px;
  color: black;
  background-color: rgb(68, 230, 76);
}
.blog {
  display: grid;
  height: 60vh;
}
footer {
  text-align: center;
  font-size: 14px;
  margin: 0px 10px 0px 10px;
}
.adviceText{
  margin-bottom: -2px;
  text-align: center;
}
#contact {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-items: center;
  width: 100%;
  padding: 10px 0px 0px 0px;
}
#convo {
  display: grid;
  text-align: center;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  justify-items: center;
  justify-self: center;
  margin: 10px 0px -15px 0px;
}
#convo h5 {
  margin: -10px 0px 20px 0px;
}
#connect-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  list-style: none;
  width: 100%;
  font-size: 17px;
  margin-right: 15px;
}
#connect-links > li > a {
  color: rgb(7, 77, 11);
}
#connect-links li:hover {
  transform: scale(1.06);
}
.bottomquote {
  width: 85%;
}
